{% extends 'base.html' %}
{% block body %}

<section class = "questionsSection">
    <div class = "questions">

<div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>IMAGINATIVE</p>
            <p>MATTER-OF-FACT</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>BENEFITS</p>
            <p>BLESSINGS</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>STATEMENT</p>
            <p>CONCEPT</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>RESERVED</p>
            <p>TALAKATIVE</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>ANALYZE</p>
            <p>SYMPATHIZE</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>CREATE</p>
            <p>MAKE</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>DETERMINED</p>
            <p>DEVOTED</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>GENTLE</p>
            <p>FIRM</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>CALM</p>
            <p>LIVELY</p>
          </div>
        </div>

        <div class = "question">
          <p>WHICH WORD IN THIS PAIR APPEALS TO YOU MORE</p>
          <div class = "choices">
            <p>JUSTICE</p>
            <p>MERCY</p>
          </div>
        </div>
        
        </div>

      <div class = "pageSwitch">

        <a onclick="window.location.href='/3rd-qs-page'">
          <img src = "./static/icons/LeftArrow.svg" alt = "Right Arrow">
        </a>

        <div class = "pageNumbers">

        <a onclick="window.location.href='/'">1</a>
        <a onclick="window.location.href='/2nd-qs-page'">2</a>
        <a onclick="window.location.href='/3rd-qs-page'">3</a>
        <a>4</a>
        <a onclick="window.location.href='/5th-qs-page'">5</a>

        </div>

        <a onclick="window.location.href='/5th-qs-page'">
          <img src = "./static/icons/RightArrow.svg" alt = "Left Arrow">
        </a>

      </div>

      <button onclick="window.location.href='/5th-qs-page'" class = "nextButton">Next</button>
</section>

{% endblock %}