<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ pagetitle }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        {% if custom_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + custom_css + '.css') }}" />
        {% endif %}
        <h1 class="page-head">{{ page_head }}</h1>
        <p class="page-description">{{ description }}</p>
        <link rel="icon" href="{{ url_for('static', filename='icons/icon.png') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
